/* App.css */
.App {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#countdown-container {
  text-align: center;
}

.time-remaining {
  font-size: 24px;
  color: #3498db;
  font-weight: bold;
}

.button-container {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin: 0 10px;
}

button:hover {
  background: #e80c25;
}
