/* Countdown Container Styles */
#countdown-container {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }

  h3{
    font-family: 'Courier New', Courier, monospace;
    font-weight:lighter;
    letter-spacing: 0.1rem;
  }
  
  #countdown {
    font-size: 2rem;
    font-family: 'Montserrat', sans-serif;
    font-weight:bold;
  }
  
  /* Progress Container Styles */

  #timer{
    margin-top: 5rem;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 50vh;
  }

  #progress-container {
    width: 200px;
    height: 200px;
    border: 10px solid #ccc;
    border-radius: 50%;
  }
  
  #progress-bar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: conic-gradient(#3498db 0% var(--progress), #ecf0f1 var(--progress) 100%);
  }

  .button-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 1rem;
  }

  button{
    position: relative;
    top: 10px;
    height: 2rem;
    width: 6rem;
    color: rgb(117, 56, 117);
    background-color: rgb(255, 255, 255);
    cursor: pointer;
    border-radius: 1rem;
    border: 1px solid #ffffff;
    box-shadow: 5px 5px 10px #aaa;
    letter-spacing: 1px;
    font-family: 'Courier New', Courier, monospace;
  }

 