.button-container{
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 1rem;
}

button {
  position: relative;
  top: 10px;
  height: 2rem;
  width: 6rem;
  color: rgb(117, 56, 117);
  background-color: rgb(255, 255, 255);
  cursor: pointer;
  border-radius: 1rem;
  border: 1px solid #ffffff;
  box-shadow: 5px 5px 10px #aaa;
  letter-spacing: 1px;
  font-family: 'Courier New', Courier, monospace;
}

button:hover {
  background: #e9ecef;
}
